In [33]:
import pandas as pd

In [34]:
df = pd.read_csv("Global_Wildfire_NASA.csv")

In [35]:
df.describe()

,acq_time,bright_t31,brightness,day,frp,latitude,longitude,month,prcp,pres,scan,tavg,tmax,tmin,track,wdir,wspd,year
count,133579.000000,133579.000000,133579.0,133579.000000,133579.000000,133579.000000,133579.000000,133579.000000,133579.000000,133579.000000,133579.000000,133579.000000,133579.000000,133579.000000,133579.000000,133579.000000,133579.000000,133579.000000
mean,1282.663952,305.274250,367.0,15.786426,30.251828,10.100782,0.754057,6.917158,0.268908,1013.796763,0.428313,23.147241,30.656677,15.940750,0.558371,167.386648,10.698301,2021.176368
std,557.988456,14.000056,0.0,8.819185,50.897352,28.768595,78.580290,2.870429,3.891326,5.625810,0.188994,7.058955,7.295447,7.425094,0.252445,108.853845,5.017116,0.381134
min,0.000000,238.290000,367.0,1.000000,0.000000,-51.620610,-165.802980,1.000000,0.000000,970.400000,-2.270000,-35.900000,-35.500000,-67.000000,-4.170000,0.000000,0.000000,2021.000000
25%,902.000000,296.830000,367.0,8.000000,9.450000,-15.424235,-59.945280,5.000000,0.000000,1010.200000,0.360000,19.300000,26.700000,11.400000,0.490000,77.000000,7.200000,2021.000000
50%,1230.000000,302.500000,367.0,16.000000,14.480000,9.476280,14.765780,8.000000,0.000000,1013.400000,0.420000,24.200000,31.600000,17.200000,0.580000,141.000000,9.800000,2021.000000
75%,1748.000000,309.570000,367.0,23.000000,26.110000,35.980570,47.769040,9.000000,0.000000,1017.200000,0.510000,27.900000,35.500000,21.500000,0.650000,269.000000,13.100000,2021.000000
max,2358.000000,375.580000,367.0,31.000000,1592.800000,70.326640,179.452150,12.000000,390.800000,1047.700000,0.800000,43.600000,61.000000,37.100000,0.780000,360.000000,78.400000,2022.000000

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133579 entries, 0 to 133578
Data columns (total 20 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   acq_date    133579 non-null  object
 1   acq_time    133579 non-null  int64
 2   bright_t31  133579 non-null  float64
 3   brightness  133579 non-null  float64
 4   day         133579 non-null  int64
 5   daynight    133579 non-null  object
 6   frp         133579 non-null  float64
 7   latitude    133579 non-null  float64
 8   longitude   133579 non-null  float64
 9   month       133579 non-null  int64
 10  prcp        133579 non-null  float64
 11  pres        133579 non-null  float64
 12  scan        133579 non-null  float64
 13  tavg        133579 non-null  float64
 14  tmax        133579 non-null  float64
 15  tmin        133579 non-null  float64
 16  track       133579 non-null  float64
 17  wdir        133579 non-null  float64
 18  wspd        133579 non-null  float64
 19  year        133579 non-null  int64
dtypes: float64(14), int64(4), object(2)
memory usage: 20.4+ MB

In [ ]:
df = df[df['confidence'] != 'l']
df = df[df['confidence'] != 'n']

In [ ]:
df.to_csv('Global_Wildfire_NASA.csv', index = False)

In [ ]:
from datetime import datetime
import matplotlib.pyplot as plt
from meteostat import Point, Daily
import pandas as pd
import numpy as np

df = pd.read_csv("Global_Wildfire_NASA.csv")

In [ ]:
df.head()

In [ ]:
df = df[['latitude','longitude','brightness','scan','track', 'acq_date', 'acq_time', 'bright_t31', 'frp', 'daynight']]

In [ ]:
df.head()

In [ ]:
df['acq_date'] = pd.to_datetime(df['acq_date'])
df['month'] = df['acq_date'].dt.month
df['day'] = df['acq_date'].dt.day
df['year'] = df['acq_date'].dt.year

In [ ]:
df.info()

In [ ]:
def getweather(s): 
    month = s['month']
    day = s['day']
    year = s['year']
    lat = s['latitude']
    lon = s['longitude']
    
    start = end = datetime(year, month, day)
    location = Point(lat, lon)
    data = Daily(location, start, end)
    data = data.fetch()
    
    if not data.empty :
        s['tavg'] = data['tavg'].values[0].tolist()
        s['tmin'] = data['tmin'].values[0].tolist()
        s['tmax'] = data['tmax'].values[0].tolist()
        s['prcp'] = data['prcp'].values[0].tolist()
        s['snow'] = data['snow'].values[0].tolist()
        s['wdir'] = data['wdir'].values[0].tolist()
        s['wspd'] = data['wspd'].values[0].tolist()
        s['wpgt'] = data['wpgt'].values[0].tolist()
        s['pres'] = data['pres'].values[0].tolist()
        s['tsun'] = data['tsun'].values[0].tolist()
    return s

In [ ]:
#df_test = df.head(10000)
df_test = df

In [ ]:
%%time
import warnings
import warnings
warnings.filterwarnings("ignore")
warnings.simplefilter(action='ignore', category=FutureWarning)
from tqdm import tqdm
tqdm.pandas()
pd.options.mode.chained_assignment = None

df_test = df_test.progress_apply(getweather, axis=1)

In [ ]:
df_test = df_test[df_test['tavg'].notna()]

In [ ]:
df_test.info()

In [ ]:
df_test.to_csv('weather_nasa.csv', index = False)

In [ ]:
df_test

In [ ]:
df_test.drop('tsun', inplace=True, axis=1)

In [ ]:
df_test.info()

In [ ]:
df_test.drop('wpgt', inplace=True, axis=1)
df_test.drop('snow', inplace=True, axis=1)

In [ ]:
df_test.info()

In [ ]:
tem = df_test.dropna()

In [ ]:
tem.info()

In [ ]:
tem.to_csv('nasa_ml.csv', index = False)

In [ ]:
df.head()

In [ ]:
df['acq_date'] = pd.to_datetime(df['acq_date'])
df['month'] = df['acq_date'].dt.month
df['day'] = df['acq_date'].dt.day
df['year'] = df['acq_date'].dt.year

In [ ]:
df.info()

In [ ]:
def getweather(s): 
    month = s['month']
    day = s['day']
    year = s['year']
    lat = s['latitude']
    lon = s['longitude']
    
    start = end = datetime(year, month, day)
    location = Point(lat, lon)
    data = Daily(location, start, end)
    data = data.fetch()
    
    if not data.empty :
        s['tavg'] = data['tavg'].values[0].tolist()
        s['tmin'] = data['tmin'].values[0].tolist()
        s['tmax'] = data['tmax'].values[0].tolist()
        s['prcp'] = data['prcp'].values[0].tolist()
        s['snow'] = data['snow'].values[0].tolist()
        s['wdir'] = data['wdir'].values[0].tolist()
        s['wspd'] = data['wspd'].values[0].tolist()
        s['wpgt'] = data['wpgt'].values[0].tolist()
        s['pres'] = data['pres'].values[0].tolist()
        s['tsun'] = data['tsun'].values[0].tolist()
    return s

In [ ]:
#df_test = df.head(10000)
df_test = df

In [ ]:
%%time
import warnings
import warnings
warnings.filterwarnings("ignore")
warnings.simplefilter(action='ignore', category=FutureWarning)
from tqdm import tqdm
tqdm.pandas()
pd.options.mode.chained_assignment = None

df_test = df_test.progress_apply(getweather, axis=1)

In [ ]:
df_test = df_test[df_test['tavg'].notna()]

In [ ]:
df_test.info()

In [ ]:
df_test.to_csv('weather_nasa.csv', index = False)

In [ ]:
df_test

In [ ]:
df_test.drop('tsun', inplace=True, axis=1)

In [ ]:
df_test.info()

In [ ]:
df_test.drop('wpgt', inplace=True, axis=1)
df_test.drop('snow', inplace=True, axis=1)

In [ ]:
df_test.info()

In [ ]:
tem = df_test.dropna()

In [ ]:
tem.info()

In [ ]:
tem.to_csv('nasa_ml.csv', index = False)

In [4]:
df.head()

,latitude,longitude,brightness,scan,track,acq_date,acq_time,bright_t31,frp,daynight
0,28.11889,0.30278,367.0,0.50,0.66,2021-04-06,48,295.0,5.3,N
1,35.80713,-0.26049,367.0,0.62,0.71,2021-04-06,48,284.7,4.1,N
2,43.44359,4.88034,367.0,0.37,0.58,2021-04-06,48,289.8,5.1,N
3,43.44629,4.88100,367.0,0.37,0.58,2021-04-06,48,286.9,7.4,N
4,27.58459,22.40466,367.0,0.35,0.57,2021-04-06,48,288.2,6.8,N

In [5]:
df['acq_date'] = pd.to_datetime(df['acq_date'])
df['month'] = df['acq_date'].dt.month
df['day'] = df['acq_date'].dt.day
df['year'] = df['acq_date'].dt.year

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1024490 entries, 0 to 1024489
Data columns (total 13 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   latitude    1024490 non-null  float64
 1   longitude   1024490 non-null  float64
 2   brightness  1024490 non-null  float64
 3   scan        1024490 non-null  float64
 4   track       1024490 non-null  float64
 5   acq_date    1024490 non-null  datetime64[ns]
 6   acq_time    1024490 non-null  int64
 7   bright_t31  1024490 non-null  float64
 8   frp         1024490 non-null  float64
 9   daynight    1024490 non-null  object
 10  month       1024490 non-null  int64
 11  day         1024490 non-null  int64
 12  year        1024490 non-null  int64
dtypes: datetime64[ns](1), float64(7), int64(4), object(1)
memory usage: 101.6+ MB

In [7]:
def getweather(s): 
    month = s['month']
    day = s['day']
    year = s['year']
    lat = s['latitude']
    lon = s['longitude']
    
    start = end = datetime(year, month, day)
    location = Point(lat, lon)
    data = Daily(location, start, end)
    data = data.fetch()
    
    if not data.empty :
        s['tavg'] = data['tavg'].values[0].tolist()
        s['tmin'] = data['tmin'].values[0].tolist()
        s['tmax'] = data['tmax'].values[0].tolist()
        s['prcp'] = data['prcp'].values[0].tolist()
        s['snow'] = data['snow'].values[0].tolist()
        s['wdir'] = data['wdir'].values[0].tolist()
        s['wspd'] = data['wspd'].values[0].tolist()
        s['wpgt'] = data['wpgt'].values[0].tolist()
        s['pres'] = data['pres'].values[0].tolist()
        s['tsun'] = data['tsun'].values[0].tolist()
    return s

In [8]:
#df_test = df.head(10000)
df_test = df

In [11]:
%%time
import warnings
import warnings
warnings.filterwarnings("ignore")
warnings.simplefilter(action='ignore', category=FutureWarning)
from tqdm import tqdm
tqdm.pandas()
pd.options.mode.chained_assignment = None

df_test = df_test.progress_apply(getweather, axis=1)

100%|██████████| 1024490/1024490 [21:28:07<00:00, 13.26it/s]

CPU times: user 14h 19min 20s, sys: 5h 48min 28s, total: 20h 7min 48s
Wall time: 21h 28min 7s

In [12]:
df_test = df_test[df_test['tavg'].notna()]

In [13]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 136096 entries, 1 to 1024476
Data columns (total 23 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   acq_date    136096 non-null  datetime64[ns]
 1   acq_time    136096 non-null  int64
 2   bright_t31  136096 non-null  float64
 3   brightness  136096 non-null  float64
 4   day         136096 non-null  int64
 5   daynight    136096 non-null  object
 6   frp         136096 non-null  float64
 7   latitude    136096 non-null  float64
 8   longitude   136096 non-null  float64
 9   month       136096 non-null  int64
 10  prcp        134078 non-null  float64
 11  pres        135466 non-null  float64
 12  scan        136096 non-null  float64
 13  snow        3520 non-null    float64
 14  tavg        136096 non-null  float64
 15  tmax        136002 non-null  float64
 16  tmin        135990 non-null  float64
 17  track       136096 non-null  float64
 18  tsun        47 non-null      float64
 19  wdir        135392 non-null  float64
 20  wpgt        4153 non-null    float64
 21  wspd        135474 non-null  float64
 22  year        136096 non-null  int64
dtypes: datetime64[ns](1), float64(17), int64(4), object(1)
memory usage: 24.9+ MB

In [14]:
df_test.to_csv('weather_nasa.csv', index = False)

In [ ]:
df_test

In [16]:
df_test.drop('tsun', inplace=True, axis=1)

In [17]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 136096 entries, 1 to 1024476
Data columns (total 22 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   acq_date    136096 non-null  datetime64[ns]
 1   acq_time    136096 non-null  int64
 2   bright_t31  136096 non-null  float64
 3   brightness  136096 non-null  float64
 4   day         136096 non-null  int64
 5   daynight    136096 non-null  object
 6   frp         136096 non-null  float64
 7   latitude    136096 non-null  float64
 8   longitude   136096 non-null  float64
 9   month       136096 non-null  int64
 10  prcp        134078 non-null  float64
 11  pres        135466 non-null  float64
 12  scan        136096 non-null  float64
 13  snow        3520 non-null    float64
 14  tavg        136096 non-null  float64
 15  tmax        136002 non-null  float64
 16  tmin        135990 non-null  float64
 17  track       136096 non-null  float64
 18  wdir        135392 non-null  float64
 19  wpgt        4153 non-null    float64
 20  wspd        135474 non-null  float64
 21  year        136096 non-null  int64
dtypes: datetime64[ns](1), float64(16), int64(4), object(1)
memory usage: 23.9+ MB

In [18]:
df_test.drop('wpgt', inplace=True, axis=1)
df_test.drop('snow', inplace=True, axis=1)

In [28]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 136096 entries, 1 to 1024476
Data columns (total 20 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   acq_date    136096 non-null  datetime64[ns]
 1   acq_time    136096 non-null  int64
 2   bright_t31  136096 non-null  float64
 3   brightness  136096 non-null  float64
 4   day         136096 non-null  int64
 5   daynight    136096 non-null  object
 6   frp         136096 non-null  float64
 7   latitude    136096 non-null  float64
 8   longitude   136096 non-null  float64
 9   month       136096 non-null  int64
 10  prcp        134078 non-null  float64
 11  pres        135466 non-null  float64
 12  scan        136096 non-null  float64
 13  tavg        136096 non-null  float64
 14  tmax        136002 non-null  float64
 15  tmin        135990 non-null  float64
 16  track       136096 non-null  float64
 17  wdir        135392 non-null  float64
 18  wspd        135474 non-null  float64
 19  year        136096 non-null  int64
dtypes: datetime64[ns](1), float64(14), int64(4), object(1)
memory usage: 21.8+ MB

In [29]:
tem = df_test.dropna()

In [31]:
tem.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 133579 entries, 1 to 1024476
Data columns (total 20 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   acq_date    133579 non-null  datetime64[ns]
 1   acq_time    133579 non-null  int64
 2   bright_t31  133579 non-null  float64
 3   brightness  133579 non-null  float64
 4   day         133579 non-null  int64
 5   daynight    133579 non-null  object
 6   frp         133579 non-null  float64
 7   latitude    133579 non-null  float64
 8   longitude   133579 non-null  float64
 9   month       133579 non-null  int64
 10  prcp        133579 non-null  float64
 11  pres        133579 non-null  float64
 12  scan        133579 non-null  float64
 13  tavg        133579 non-null  float64
 14  tmax        133579 non-null  float64
 15  tmin        133579 non-null  float64
 16  track       133579 non-null  float64
 17  wdir        133579 non-null  float64
 18  wspd        133579 non-null  float64
 19  year        133579 non-null  int64
dtypes: datetime64[ns](1), float64(14), int64(4), object(1)
memory usage: 21.4+ MB

In [32]:
tem.to_csv('nasa_ml.csv', index = False)